@keyframes shake-animation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    background: #1c1c1a;
    font-family: "Jersey 10", sans-serif;
    padding-top: 50px;
    padding: 20px;

    transition: background 0.5s ease, color 0.5s ease;
}
body.light-mode {
    background: #ffffff;
    color: #1c1c1a;
}
body.light-mode .accent {
    color: #007a14;
}

body.light-mode .password-box {
    background: #e5e5e5;
}

body.light-mode .tooltip {
    background: #007a14;
}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;

    background: #403e3c;
    color: #00b51e;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;

    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

#theme-toggle:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00b51e;
}
h1 {
    text-shadow: 0px 0px 6px #000000;
    font-size: clamp(28px, 6vw, 60px);
    margin-bottom: 10px;
    text-align: center;
}

.accent { color: #00b51e; }

.subtitle {
    font-size: 20px;
    margin-bottom: 40px;
}

/* MAIN LAYOUT BAR */
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-bottom: 1px solid #3e4c5e;
    padding-bottom: 30px;
    gap: 20px;
}

.settings-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

#generate-el {
    width: 100%;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 4px;
    font-family: "Jersey 10", sans-serif;
    font-size: 24px;
    padding: 12px 24px;
    background: #00b51e;
    border: none;
    transition: 0.2s;
}

@media (hover: hover) {
    #generate-el:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 15px #00b51e;
        color: #00b51e;
        background: whitesmoke;
    }
}
/* SLIDER GROUP */
.controls-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.label-wrapper {
    color: #00b51e;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

#length-el {
    -webkit-appearance: none;
    width: 100%;
    max-width: 200px;
    background: transparent;
}

#length-el::-webkit-slider-runnable-track {
    height: 6px;
    background: #3e4c5e;
    border-radius: 3px;
}

#length-el::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #00b51e;
    margin-top: -6px;
    cursor: pointer;
}

/* CHECKBOX GROUP */
.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 18px;
    color: #00b51e;
}

.checkbox-container label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
/* CHECKBOX STYLES */
#uppercase {accent-color: #00b51e; transition: 0.2s;}
#uppercase:hover {transform: scale(1.1); accent-color: whitesmoke; box-shadow:  0px 0px 10px #00b51e;}
#lowercase {accent-color: #00b51e;}
#lowercase:hover {transform: scale(1.1); accent-color: whitesmoke; box-shadow:  0px 0px 10px #00b51e;}
#numbers {accent-color: #00b51e;}
#numbers:hover {transform: scale(1.1); accent-color: whitesmoke; box-shadow:  0px 0px 10px #00b51e;}
#symbols {accent-color: #00b51e;}
#symbols:hover {transform: scale(1.1); accent-color: whitesmoke; box-shadow:  0px 0px 10px #00b51e;}
/* PASSWORD DISPLAY */
.container-h2 {
    display: flex;
    gap: 100px;
    margin-top: 40px;
}

h2 { color: #00b51e; font-size: 25px; }

.password-container {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.password-box {
    position: relative;
    cursor: pointer;
    background: #403e3c;
    padding: 12px;
    width: 100%;
    max-width: 220px;
    transition: background-color 0.1s step-end 1s;
    text-align: center;
    border-radius: 4px;
    min-height: 25px;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
}
.password-box:active {
    background-color: #00b51e;
    transition: background-color 0s;
     animation: shake-animation 0.2s ease-in-out;
}
.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background: #00b51e;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    color: white;
}

.password-box:hover .tooltip { opacity: 1; }

.strength-wrapper {
    margin-top: 20px;
    text-align: center;
}

.strength-bar {
    width: 300px;
    height: 10px;
    background: #3e4c5e;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 8px;
}

#strength-fill {
    height: 100%;
    width: 0%;
    background: red;
    transition: 0.3s;
}

#strength-text {
    font-size: 18px;
    color: #00b51e;
}

@media (max-width: 600px) {

    .settings-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .container-h2 {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .password-container {
        flex-direction: column;
        align-items: center;
    }

    .password-box {
        width: 90%;
    }

    .strength-bar {
        width: 90%;
    }
}